extends ../layout

block content
    h2 Login
    p This is login page, check the #[a(href="/account/register") register page] if you don't have an account yet.

    form(action="#", method="post")
        include ../mixins/status_feedback
        
        p 
            label(for="username") Username: 
            input#username(type="text", name="username")
        p
            label(for="password") Password: 
            input#password(type="password", name="password")
        

        input(type="submit", value="Login")



