extends ../layout

block content
    h2 Registration
    p This is register page, check the #[a(href="/account/login") login page] if you already have an account.

    form(action="#", method="post")
        include ../mixins/status_feedback
        
        p 
            label(for="username") Username: 
            input#username(type="text", name="username")
        p 
            label(for="email") E-Mail (optional): 
            input#email(type="text", name="email")
        p
            label(for="password1") Password: 
            input#password1(type="password", name="password1")
        p
            label(for="password2") Password again: 
            input#password2(type="password", name="password2")


        input(type="submit", value="Register")



