doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Libre game upload platform thingy
    body 
        header
            h1 Libre game upload platform thingy
            nav 
                p todo: nav here
        section
            block content
                p content missing
        footer 
            p todo: write things here
